*.swp
*.log
*~
.DS_Store


# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.profile

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignore GoLand metafiles directory
.idea/
.terraform/
*logs/

.vscode*

.coverage

bin/
build/
avalanche-cli
avalanche

dist/
bin/

tests/e2e/hardhat/artifacts
tests/e2e/hardhat/cache
tests/e2e/hardhat/node_modules/
tests/e2e/hardhat/typechain
tests/e2e/hardhat/dynamic_conf.json
tests/e2e/hardhat/greeter.json
