{
	"http-host": "{{.HttpHost}}",
	"api-admin-enabled": {{.ApiAdminEnabled}},
	"index-enabled": {{.IndexEnabled}},
	"network-id": "{{if .NetworkID}}{{.NetworkID}}{{else}}fuji{{end}}",
	"db-dir": "{{.DbDir}}",
	"log-dir": "{{.LogDir}}",
    {{if .PublicIP}}
	"public-ip": "{{.PublicIP}}"
    {{else}}
    "public-ip-resolution-service": "opendns"
    {{end}}
}
