[Unit]
Description=AWM Relayer systemd service
StartLimitIntervalSec=0
[Service]
Type=simple
User=%s
WorkingDirectory=%s
ExecStart=%s --config-file %s
LimitNOFILE=32768
Restart=always
RestartSec=1
[Install]
WantedBy=multi-user.target
